<!--MODAL EDUCACIÓN-->
<div class="modal fade" id="educationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal">Educación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <img src="assets/img/certificadorucula.png" class="card-img-top"  alt="CERTIFICADO RUCULA">
                <div class="card-body">
                  <h4 class="card-title text-center"> TÍTULO </h4>
                  <div class="d-flex justify-content-center my-3">
                  <button type="button" class="btn btn-primary" data-bs-target="#editarEducacion" data-bs-toggle="modal" style="margin-right: 8px;">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <button type="button" class="btn btn-primary"  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
                </div>
              </div> 
          </div>
          <div class="col-4">
            <div class="card">
              <img src="assets/img/certificadoprogramacion.png"class="card-img-top"  alt="CERTIFICADO PROGRAMACION">
              <div class="card-body">
                <h4 class="card-title text-center">TÍTULO</h4>
                <div class="d-flex justify-content-center my-3">
                <button type="button" class="btn btn-primary" data-bs-target="#editarEducacion" data-bs-toggle="modal" style="margin-right: 8px;">
                <i class="fa-solid fa-pen"></i>
              </button>
                <button type="button" class="btn btn-primary" >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
              </div>
            </div>
          </div>
            <div class="col-4">
              <div class="card">
                <img src="assets/img/certificado SEO.png" class="card-img-top" alt="CERTIFICADO SEO">
                <div class="card-body">
                  <h4 class="card-title text-center" >TÍTULO </h4>
                  <div class="d-flex justify-content-center my-3">
                  <button type="button" class="btn btn-primary" data-bs-target="#editarEducacion" data-bs-toggle="modal"style="margin-right: 8px;">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <button type="button" class="btn btn-primary" >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
                  </div>
                </div>
              </div>
            </div>
              </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#agregarEducacion" data-bs-toggle="modal">
            <i class="fa-solid fa-plus"></i>
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL AGREGAR EDUCACIÓN-->
  <div class="modal fade" id="agregarEducacion" tabindex="-1" aria-labelledby="agregarEducacionLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal">Agregar Educación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form [formGroup]="form" (ngSubmit)="onEnviar($event)"> 
        <div class="modal-body">
            <div class="mb-3 row">
              <label for="formFile" class="form-label">Imagen</label>
                <div class="col-sm-10">
                  <input type="img" class="form-control" placeholder="Imagen certificado" [class.border-danger]="imgValid" aria-label="default input example" formControlName="img">
                  <div *ngIf="img?.hasError && img?.touched">  
                    <p *ngIf="img?.hasError('required')" class="error"> Debes ingresar una Imagen.</p> 
                    <p *ngIf="img?.hasError('minlength')" class="error"> Debe incluir al menos 10 caracteres. </p>
                    <p *ngIf="img?.hasError('maxlength')" class="error"> El límite es de 70 caracteres </p>
                </div>
                </div>
              </div>
              <div class="mb-3 row">
                  <label for="exampleFormControlTextarea1" class="form-label">Título</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="titulo" placeholder="Nombre del curso - Institución" [class.border-danger]="tituloValid" aria-label="default input example" formControlName="titulo">
                    <div *ngIf="titulo?.hasError && titulo?.touched">  
                      <p *ngIf="titulo?.hasError('required')" class="error"> Debes ingresar un Título.</p> 
                      <p *ngIf="titulo?.hasError('minlength')" class="error"> Debe incluir al menos 10 caracteres.</p>
                      <p *ngIf="titulo?.hasError('maxlength')" class="error"> El límite es de 40 caracteres </p>
                  </div>
                  </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!--MODAL EDITAR EDUCACIÓN-->
  <div class="modal fade" id="editarEducacion" tabindex="-1" aria-labelledby="editarEducacionLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal">Editar Educación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)"> 
        <div class="modal-body">
            <div class="mb-3 row">
              <label for="formFile" class="form-label">Imagen</label>
                <div class="col-sm-10">
                  <input type="img" class="form-control" placeholder="Imagen certificado" [class.border-danger]="imgValid" aria-label="default input example" formControlName="img">
                  <div *ngIf="img?.hasError && img?.touched">  
                    <p *ngIf="img?.hasError('required')" class="error"> Debes ingresar una Imagen.</p> 
                </div>
                </div>
              </div>
              <div class="mb-3 row">
                  <label for="exampleFormControlTextarea1" class="form-label">Título</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="titulo" placeholder="Nombre del curso - Institución" [class.border-danger]="tituloValid" aria-label="default input example" formControlName="titulo">
                    <div *ngIf="titulo?.hasError && titulo?.touched">  
                      <p *ngIf="titulo?.hasError('required')" class="error"> Debes ingresar un Título.</p> 
                      <p *ngIf="titulo?.hasError('minlength')" class="error"> Debe incluir al menos 10 caracteres.</p>
                      <p *ngIf="titulo?.hasError('maxlength')" class="error"> El límite es de 40 caracteres </p>
                  </div>
                  </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
