<section class="skillsh">
    <div class="row">
      <div class="col-3 mt-5">
        <div class="hardkills text-center"> <h3> HARD SKILLS </h3> </div>
      </div>
      <!--Iteración sobre la variable de instancia y presentación de datos mediante interpolación-->
      <div class="col-9 mt-3"> 
        <div title *ngFor="let skill of HardSkills">
        <h6> {{skill.titulo}} </h6>
        <div class="progress mb-3">
          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.Porcentaje">{{skill.Porcentaje}}%</div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr> 
  <!--soft skills-->
  <section class="skillss">
    <div class="row">
      <div class="col-3 mt-5">
        <div class="hardkills text-center"> <h3> SOFT SKILLS </h3> </div>
      </div>
      <div class="col-9 mt-3">
        <div title *ngFor="let skill of SoftSkills">
        <h6> {{skill.titulo}}</h6>
        <div class="progress mb-3">
          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.Porcentaje">{{skill.Porcentaje}}%</div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
 
